
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: white;
        }

        .resume-container {
            display: flex;
            flex-wrap: wrap;
            max-width: 900px;
            margin: 20px auto;
            background: bisque;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        .left-section, .right-section {
            flex: 1;
            padding: 20px;
        }

        .left-section {
            background: rgb(90, 24, 24);
            color: white;
            border-radius: 10px 0 0 10px;
        }

        .right-section {
            border-radius: 0 10px 10px 0;
        }

        .profile-picture {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
        }

        h1, h3 {
            text-align: center;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            background:none;
            font-weight: bold;
            margin: 5px 0;
            padding: 8px;
            border-radius: 5px;
        }

        button {
            display: block;
            margin: 10px auto;
            padding: 10px;
            background: rgb(90, 24, 24);
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
        button:hover {
            background-color: rgb(189, 114, 114);
        }

        @media (max-width: 768px) {
            .resume-container {
                flex-direction: column;
            }

            .left-section, .right-section {
                border-radius: 10px;
            }
        }
    