body {
    font-family: system-ui, -apple-syst;
    background-color: white;
    margin:0;
    padding: 35px;
}
.resume-container {
    display: flex;
    background-color:blue ;
    width: 800px;
    margin: 60px, auto;
    height: 1250px;
    padding: 5px;
    border-radius: 10px;
    position: relative;
}
/*Left Section styling*/
.left-section{
    flex: 1;
    background-color: black;
    color: white;
    font-size: large;
    padding: 30px;
    text-align: center;
    border-right: 5px solid blue;
}

.profile-picture{
    width: 160px;
    height: 160px;
    margin-top: 0;
    margin-left: 25%;
    margin-right: 70%;
    border-radius: 50%;
    border: 3px solid blue;
    margin-bottom: 10px;
}
h1 {
    font-size: 40px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align:center;
}
h3 {
    font-size: 20px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px blue;
    margin-top: 5%;
    margin-bottom:5%;
}
ul {
    list-style-type: fill round;
    padding: 2%;
    margin: 10px 0;
}
ul li {
    margin: 5px 0;
}
/*Right Section Styling*/
.right-section{
    flex: 1;
    background-color: whitesmoke;
    font-size: large;
    padding: 30px;
}
button {
    font-family:system-ui, -apple-syst ;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}
button:hover {
    background-color: blue; 
}
@media (max-width: 600px) {
};
    
